
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='fav.png') }}">

    <title>Salários USP</title>

      <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
      
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='cover.css') }}" rel="stylesheet">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
<!--
              <h3 class="masthead-brand">Salários USP</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </nav>
-->
            </div>
          </div>

          <div class="inner cover">
              <h1>Salários USP</h1>
            <h1 class="cover-heading"><img src="{{ url_for('static', filename='USP-128.png') }}"/></h1>
            <p class="lead">Extensão para navegadores web para exibir os salários e outras informações de professores e funcionários da USP. Por enquanto disponível apenas para o ICMC.</p>
              <br>
            <p class="lead">
              <img class="img-responsive border_img" src="{{ url_for('static', filename='screenshot.png') }}"/>
              </p>
              <h3>Escolha o seu navegador:</h3>
                
            <div class="row">
              <div class="col-md-4">
                  <a href="https://chrome.google.com/webstore/detail/ngcnphgdimpjefffddklcgldjopkdcem/publish-accepted?hl=pt-BR" target="_blank"><img src="{{ url_for('static', filename='chrome_128x128.png') }}"><br>Chrome</a>
                </div>
              <div class="col-md-4">
                  <a href="https://addons.mozilla.org/pt-BR/firefox/addon/sal%C3%A1rios-usp/" target="_blank"><img src="{{ url_for('static', filename='firefox_128x128.png') }}"><br>Firefox e Firefox para Android</a>
                </div>
              <div class="col-md-4">
                  <a href="#"><img src="{{ url_for('static', filename='safari_128x128.png') }}"><br>Safari (Em breve!)</a>
                </div>
            </div>
                
              <!--<a href="#" class="btn btn-lg btn-default">Learn more</a> -->
          </div>
<!--
          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>
-->
        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56971050-2', 'auto');
  ga('send', 'pageview');

</script>

  </body>
</html>
